job search automation (1).json
{
  "name": "job search automation",
  "nodes": [
    {
      "parameters": {
        "actorSource": "=recentlyUsed",
        "actorId": {
          "__rl": true,
          "value": "YdYsB7rsRY0EUb1lP",
          "mode": "list",
          "cachedResultName": "Upwork Job Scraper | Scrape up to 10k Jobs ✨ (upwork-vibe/upwork-job-scraper)",
          "cachedResultUrl": "https://console.apify.com/actors/YdYsB7rsRY0EUb1lP/input"
        },
        "customBody": "={\n    \"budget.allowUnspecifiedBudget\": false,\n    \"budget.avgHourlyRate.max\": \"150\",\n    \"budget.fixedPrice.min\": \"700\",\n    \"budget.hourlyWorkloads\": [\n        \"UNSPECIFIED\",\n        \"LESS_THAN_30_HOURS\",\n        \"MORE_THAN_30_HOURS\"\n    ],\n    \"budget.jobDurations\": [\n        \"UNSPECIFIED\",\n        \"UP_TO_ONE_MONTH\",\n        \"UP_TO_THREE_MONTHS\",\n        \"UP_TO_SIX_MONTHS\",\n        \"MORE_THAN_SIX_MONTHS\"\n    ],\n    \"budget.minClientHireRate\": 0,\n    \"budget.noAvgHourlyRatePaid\": false,\n    \"budget.noHireRate\": false,\n    \"budget.onlyContractToHire\": false,\n    \"client.companySizeRange\": [\n        \"UNSPECIFIED\",\n        \"SOLO_ENTERPRENEUR\",\n        \"UP_TO_10_EMPLOYEES\",\n        \"UP_TO_100_EMPOLOYEES\",\n        \"UP_TO_500_EMPLOYEES\",\n        \"UP_TO_1K_EMPLOYEES\",\n        \"MORE_THAN_1K_EMPLOYEES\"\n    ],\n    \"client.hireHistory\": [\n        \"NONE\",\n        \"UP_TO\",\n        \"MORE_THAN\"\n    ],\n    \"client.includeWithNoFeedback\": false,\n    \"client.paymentMethodVerified\": false,\n    \"client.phoneNumberVerified\": false,\n    \"excludeKeywords.matchDescription\": true,\n    \"excludeKeywords.matchSkills\": true,\n    \"excludeKeywords.matchTitle\": true,\n    \"fromDate\": \"2025-11-25\",\n    \"includeKeywords.keywords\": [\n        \"AI\"\n    ],\n    \"includeKeywords.matchDescription\": true,\n    \"includeKeywords.matchSkills\": true,\n    \"includeKeywords.matchTitle\": true,\n    \"jobCategories\": [\n        \"AI & Machine Learning\",\n        \"AI Apps & Integration\"\n    ],\n    \"limit\": 100,\n    \"notifications.limit\": 3,\n    \"notifications.shouldSendRunMetadata\": true,\n    \"toDate\":\"{{ $now.toISO().split('.')[0] }}\"\n,\n    \"vendor.excludeWithQuestions\": false,\n    \"vendor.includeFeatured\": false,\n    \"vendor.includeWithoutCountryPreference\": false\n}",
        "timeout": 60,
        "memory": 128,
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        48,
        -224
      ],
      "id": "64852af6-0720-477b-bd1a-7c98e263f3e1",
      "name": "Run an Actor",
      "retryOnFail": false,
      "waitBetweenTries": 3000,
      "executeOnce": true,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "iu5AzG2PLuupwVqe",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d5168c5f-8b58-4424-b73b-98fe80c19071",
              "name": "interests",
              "value": " I'm interested in helping automate business tasks using software such as n8n, Make.com and Go High Level. I want to make sure this is the main focus, and not just a small piece of the job. I'm only interested in jobs that have a score of over 2/5",
              "type": "string"
            },
            {
              "id": "0ff36e74-de61-4981-9737-d29024c104a9",
              "name": "scrape",
              "value": "I'm looking for a job that pays a fixed rate over $1000, or is at least $50 USD/hour. Scoring is out of 5 and here's how points are awarded:\n-2 points if it's super related to n8n, Make.com or Go High Level, or 1 point if it's somewhat related to one of them\n-1 point if it's over $50 USD/hour or a fixed rate over $1,000\n-1 point if the fixed rate contract\n-1 point if it's a service based business",
              "type": "string"
            },
            {
              "id": "b3d294fa-f129-416f-a3fe-bed0a7cf5111",
              "name": "company_link",
              "value": "https://quantalhq.com/",
              "type": "string"
            },
            {
              "id": "fda22e4c-609c-4851-869d-5abb6659327c",
              "name": "calander",
              "value": "https://calendly.com/ultragenius/meet-with-nirav",
              "type": "string"
            },
            {
              "id": "0437433a-818c-495c-9f88-65abc6efa652",
              "name": "proposal",
              "value": "Edit Value\nValue\n\nHello John,\n\nI can definitely help you with your GoHighLevel CRM automation needs. I've been working daily on GoHighLevel for the past 5+ years, and have helped 112 clients achieve the exact results you're looking for (with a 5-star rating & Top Plus badge on Upwork). My goal is to:\n\nGive you a 6:1 ROI, meaning for every dollar spent, I earn you a MINIMUM of 6x that amount long term.\n\nSave you dozens if not hundreds of hours per week with automation\n\nIncrease profit through automation, speed, split testing & more\n\nAutomate around 80% of the work you're doing by hand, at every stage in your business (leads, sales calls, contracts, onboarding, etc.)\n\nHere's a video where I demonstrate exactly how I could do this for you\nhttps://youtu.be/3p8QehoVBXs\n\nHere is why I think I'm the perfect candidate:\n\nCreate, execute, and optimize marketing automation programs and lead nurturing campaigns (sample question)",
              "type": "string"
            },
            {
              "id": "631c4f01-172f-4061-85d0-ca37023e8438",
              "name": "score",
              "value": "I'm looking for a job that pays a fixed rate over $1000, or is at least $50 USD/hour. Scoring is out of 5 and here's how points are awarded:\n-2 points if it's super related to n8n, Make.com or Go High Level, or 1 point if it's somewhat related to one of them\n-1 point if it's over $50 USD/hour or a fixed rate over $1,000\n-1 point if the fixed rate contract\n-1 point if it's a service based business",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1056,
        4640
      ],
      "id": "31229428-1193-49bb-a729-fa01dfc71600",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "="
            },
            {
              "content": "=Title: {{ $('Get dataset items').item.json.title }}\nDescription: {{ $('Get dataset items').item.json.description }}\nBudget: {{ $('Get dataset items').item.json.budget }}\nJob type: {{ $('Get dataset items').item.json.jobType }}\nClient rating: {{ $('Get dataset items').item.json.clientRating }}\nClient hire rate: {{ $('Get dataset items').item.json.clientHireRatePercent }}\nClient total spend: {{ $('Get dataset items').item.json.clientTotalSpent }}\nClient location: {{ $('Get dataset items').item.json.clientLocation }}\nExperience level required: {{ $('Get dataset items').item.json.experienceLevel }}\nHere's my expertise and interests:\n{{ $json.interests }}"
            }
          ]
        },
        "simplify": "={{ true }}",
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -320,
        5760
      ],
      "id": "ca79ed2a-d337-49e4-a7e6-9e1ff0a93480",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "rQtjdotAwoEiv1aT",
          "name": "OpenAi account 13"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2416,
        -240
      ],
      "id": "11dd6624-c281-4947-823f-3d1d3508f54c",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {}
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        -16,
        5728
      ],
      "id": "6c9609f4-e723-4fea-8dac-4084e406abb5",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "rQtjdotAwoEiv1aT",
          "name": "OpenAi account 13"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "##AI Agent essentials \n-system prompt,description of interest,,..",
        "height": 320,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        4528
      ],
      "id": "c4d5526b-a7c4-4528-afff-cc9d6310ea06",
      "name": "Sticky Note",
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an expert AI proposal writer specializing in crafting highly personalized, professional, and confident Upwork proposals for QuantalAI — a finance-focused AI company. Your task is to generate a fully ready-to-send proposal message based ONLY on the inputs provided below.You're writing on behalf of Nirav:\n\n1)Company Information (Use naturally and selectively):\n\nQuantalAI is a finance-focused AI company dedicated to transforming how financial institutions make decisions. By combining advanced analytics, automation, and generative AI, Quantal delivers tailored, high-impact solutions that enhance accuracy, speed, and operational efficiency. With a leadership team experienced in both AI and financial services — and values grounded in innovation, reliability, collaboration, and integrity — Quantal bridges the gap between cutting-edge technology and real-world financial challenges. Quantal has successfully delivered 60+ AI projects.Our team comprises the team of experience AI Engineers & Consultant holding 5+ years of  experience in AI Domain. \n\n2)Job Description:\n{{ $('job in sheet??').item.json.description }}\n\n3)Case Studies (Use only the ones relevant to the job description):\n->Case Study 1 – AI Portfolio Optimization\n\nClient: Top-tier asset management firm\nChallenge: Struggled with complex portfolios and risk.\nSolution: AI-powered portfolio management system with predictive analytics, risk modeling, real-time insights.\nResults:\n\n20% improvement in portfolio returns\n\n30% reduction in risk exposure\n\nFaster, more accurate decision-making\n\n->Case Study 2 – AI-Driven Financial Reporting Automation\n\nClient: Multinational banking corporation\nChallenge: Manual, slow, error-prone reporting.\nSolution: Automated AI reporting system with ML-driven discrepancy detection.\nResults:\n\n50% reduction in reporting time\n\n100% accuracy in compliance reports\n\nReal-time decision insights\n\n->Case Study 3 – AI Claims & Risk Assessment Platform\nClient: Regional insurance provider\nChallenge: Outdated risk models and slow manual claims reviews.\nSolution: Real-time risk analysis, ML predictions, automated claims review.\nResults:\n\n40% faster claims processing\n\n25% reduction in high-risk losses\n\nHigher customer satisfaction\n\n->Case Study 4 – AI Fraud Detection\nClient: National payment processing company\nChallenge: Increasing fraudulent transactions.\nSolution: Machine learning fraud detection with real-time alerts and continuous learning.\n\nThe output must sound like it is written by a senior AI expert who deeply understands financial AI systems, automation, risk modeling, NLP, fraud detection, predictive analytics, LLMs, and end-to-end enterprise AI transformation.\n\n\n\n##Proposal Generation Rules\n\nWhen writing the proposal:\n\n1. Style & Tone:Professional,Confident,Clear\nDirect, no fluff .Sounds like an experienced AI consultant\n\n2. Content Structure (must follow)\nA. Personalized Opening\nDirectly reference the job description\nClearly demonstrate understanding of the client's needs\nB. Why QuantalAI Is a Fit\nrefer company info or add relevant case studies (choose 1–2 max, based on JD)\nC. Proposed AI Solution or Approach\nExplain how you would solve their exact problem\nMake it sound expert-level but simple for the reader\nD. Reassurance & Credibility\nMention experience delivering 100+ AI projects\nEmphasize domain strength in finance + enterprise AI\nE. Soft Call to Action\nEnd with:\n“I’d be happy to explore this with you in more detail — feel free to pick a time here: https://calendly.com/ultragenius/meet-with-nirav”\n\n3. Requirements\nOutput must be a fully ready-to-send proposal message\nNo placeholders\nNo generic sentences\nUse job description context heavily\nReference case studies only if relevant\nDo NOT sound like ChatGPT\n\nFINAL INSTRUCTION\n\nUsing all rules above, generate a complete, polished Upwork proposal tailored to the provided Job Description + Company Info + Case Studies and message should be short and consise keeping good user experience without boring the client."
            }
          ]
        },
        "simplify": "={{ true }}",
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        3248,
        -160
      ],
      "id": "459fad5a-f1d5-4c30-8f68-f6bab2a1b341",
      "name": "proposal generator",
      "credentials": {
        "openAiApi": {
          "id": "rQtjdotAwoEiv1aT",
          "name": "OpenAi account 13"
        }
      }
    },
    {
      "parameters": {
        "content": "## Generates the proposal for each client\n",
        "height": 256,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3856,
        624
      ],
      "id": "69004a3d-b82d-40b3-b2a8-7f893d7e52b9",
      "name": "Sticky Note1",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -752,
        -224
      ],
      "id": "eda55f96-8ec5-40b4-8766-0dfe76338832",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $('Get dataset items').item.json.title }}\nDescription: {{ $('Get dataset items').item.json.description }}\nBudget: {{ $('Get dataset items').item.json.budget }}\nJob type: {{ $('Get dataset items').item.json.jobType }}\nClient rating: {{ $('Get dataset items').item.json.clientRating }}\nClient hire rate: {{ $('Get dataset items').item.json.clientHireRatePercent }}\nClient total spend: {{ $('Get dataset items').item.json.clientTotalSpent }}\nClient location: {{ $('Get dataset items').item.json.clientLocation }}\nExperience level required: {{ $('Get dataset items').item.json.experienceLevel }}\nHere's my expertise and interests:\n{{ $json.interests }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You're an intelligent Upwork assistant that is great at analyzing job listings and finding the best matches for me:\nScoring them on a 1-5 point basis based on the follow guidelines below, while also taking into consideration my interests and what I'm looking for\nHere is the scoring guideline:\n{{ $json.score }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1312,
        4752
      ],
      "id": "c3073574-4f95-47e4-bdb8-811208a98f98",
      "name": "AI Agent",
      "disabled": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "gpt-5-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1152,
        5072
      ],
      "id": "891e87b0-18ed-48ce-a109-419d2e80be8a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rQtjdotAwoEiv1aT",
          "name": "OpenAi account 13"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\"score\": 1 \n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1456,
        5056
      ],
      "id": "c64f6d99-3e3f-428f-be9b-42831243b052",
      "name": "Structured Output Parser",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Scoring & Filtering\n",
        "height": 336,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1264,
        4656
      ],
      "id": "9b0b4fae-c275-45f6-9cc1-6bf13ec19a35",
      "name": "Sticky Note2",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Filters\n## 1. 0 job posted(means new client,1st time job poster)but from US\n## 2. hire rate>40\n## 3. total spent/total hire >700",
        "height": 832,
        "width": 1136
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -656
      ],
      "id": "45d33590-3844-4d74-908e-50d9436d7f30",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "sendTo": "=aryakumar.jaiswal@quantaltech.ai",
        "subject": "New Job Alert (Upwork)",
        "emailType": "text",
        "message": "=Hi Tara ,\nHere're few newly created job ,kindly review them.Its appended on sheet.\nNew Job:\n{{ $(\"store_url_email\").first().json.selectedList.join(\"\\n\") }}\n\nBest Regard\nAryakumar Jaiswal\nAI Engineer-Quantal",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3856,
        -224
      ],
      "id": "92e5df68-50be-4b62-b719-53a7bd7da001",
      "name": "Send a message",
      "webhookId": "1b74c2eb-22fa-4d28-a127-188d301fe56d",
      "executeOnce": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "DSypNhQ4tByaJp2P",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e4c0b8cd-8a83-42c1-b115-6e8028982756",
              "leftValue": "={{ $json.client.stats.totalSpent  }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "357e63fe-05af-4dc1-9254-ed028b70352b",
              "leftValue": "={{ $json.client.countryCode }}",
              "rightValue": "=US",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        -336
      ],
      "id": "d417246d-3e66-48fa-9143-95c3dd848f81",
      "name": "0 Spend check"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Gq4_jKFZY70_U9WPXpgScqA9WPEHRJy3G6vZN6TVrRs",
          "mode": "list",
          "cachedResultName": "upwork-jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gq4_jKFZY70_U9WPXpgScqA9WPEHRJy3G6vZN6TVrRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1016788386,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gq4_jKFZY70_U9WPXpgScqA9WPEHRJy3G6vZN6TVrRs/edit#gid=1016788386"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "={{ $('job in sheet??').item.json.externalLink }}",
            "Title": "={{ $('job in sheet??').item.json.title }}",
            "Experience": "={{ $('job in sheet??').item.json.vendor.experienceLevel }}",
            "Salary": "={{ $('job in sheet??').item.json.budget }}",
            "Location": "={{ $('job in sheet??').item.json.client.countryCode }}",
            "Date": "={{ $('job in sheet??').item.json.createdAt }}",
            "Found": "={{ $now }}",
            "Description": "={{ $('job in sheet??').item.json.description }}",
            "Id": "={{  $('job in sheet??').item.json.uid }}",
            "praposal": "={{ $json.output[0].content[0].text }}"
          },
          "matchingColumns": [
            "Id"
          ],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Experience",
              "displayName": "Experience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Salary",
              "displayName": "Salary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Found",
              "displayName": "Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "praposal",
              "displayName": "praposal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3568,
        -160
      ],
      "id": "5e0fdc0c-2c49-44c3-919a-d4114bacf5b0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6gr9PW0MIQBffnHC",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Gq4_jKFZY70_U9WPXpgScqA9WPEHRJy3G6vZN6TVrRs",
          "mode": "list",
          "cachedResultName": "upwork-jobs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gq4_jKFZY70_U9WPXpgScqA9WPEHRJy3G6vZN6TVrRs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1016788386,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Gq4_jKFZY70_U9WPXpgScqA9WPEHRJy3G6vZN6TVrRs/edit#gid=1016788386"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        -224
      ],
      "id": "7109d8ba-bc89-4bc0-b293-ff41fd81518d",
      "name": "Read-job_id",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "6gr9PW0MIQBffnHC",
          "name": "Google Sheets account 10"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1424,
        -256
      ],
      "id": "f3bd0ed4-e05b-49f1-aa4d-ad13e3aa7763",
      "name": "Merge the outputs"
    },
    {
      "parameters": {
        "content": "# Data Collection  from  Appify",
        "height": 624,
        "width": 1568,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -864,
        -464
      ],
      "id": "49206e02-ab68-4ebf-9eb4-945238bd8e37",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Appending  Jobs to Google Sheet\n",
        "height": 448,
        "width": 1648,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1936,
        -288
      ],
      "id": "0213c4c3-7995-43b8-b81e-73e43b9647ae",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{ $json.defaultDatasetId }}",
        "limit": 100,
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        304,
        -224
      ],
      "id": "bc8d00c1-e4db-4e9c-9061-3779278cdb0c",
      "name": "Get dataset items",
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "iu5AzG2PLuupwVqe",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Notification mail\n",
        "height": 448,
        "width": 496,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3680,
        -352
      ],
      "id": "164d5b11-41a0-4554-ae90-30048910f4ad",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2016,
        -192
      ],
      "id": "775a68fd-ec90-44a4-abb7-290de34a94dc",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "89d4d946-6ab8-498c-887e-c7136958c266",
              "leftValue": "={{ $json.client.stats.totalSpent / $json.client.stats.totalHires }}",
              "rightValue": 700,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "e64adbf8-c489-4477-babe-db7dd5663212",
              "leftValue": "={{ $json.client.stats.hireRate }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "3f04a9f8-2adb-4728-bcd3-03a822b70c6b",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        928,
        -160
      ],
      "id": "752f33b9-1018-40fe-b071-e24f3c5231e3",
      "name": "If"
    },
    {
      "parameters": {
        "fieldToSplitOut": "={{ 'data' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2192,
        -192
      ],
      "id": "e301dce7-d634-4089-afb9-4d816d5f3b8e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "uid, externalLink",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        1648,
        -176
      ],
      "id": "0da3b447-2512-4939-a978-fff39b9e1bf9",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst ids = items.map((item) => item.json.Id);\n\n// Get global static store for this workflow\nconst workflowStatic = $getWorkflowStaticData('global');\n\n// Initialize `selected` as an empty array if not already set\nif (!workflowStatic.selected) {\n  workflowStatic.selected = [];\n}\n\ninitial_val_of_url_store_container= workflowStatic.selected\n\nreturn { ids, initial_val_of_url_store_container};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        -224
      ],
      "id": "d6a0b5a1-4cdc-41b8-a54a-94f864c32190",
      "name": "intialisation"
    },
    {
      "parameters": {
        "jsCode": "// Get global static data store for this workflow\nconst workflowStatic = $getWorkflowStaticData('global');\nlet a=0;\n// Ensure `selected` list exists\nif (!workflowStatic.selected) {\n  workflowStatic.selected = [];\n  a=1;\n}\n\n// Get all incoming items\n\n\n// For this example, we will add URLs (or IDs) from incoming \nconst url=$input.first().json.externalLink\nworkflowStatic.selected.push(url);\n\n// Compute length of selected list\nconst countSelected = workflowStatic.selected.length;\n\n// Return items — here we output a single item containing the count\nreturn [\n  {\n    json: {\n      selectedCount: countSelected,\n      // optionally pass the full list too\n      selectedList: workflowStatic.selected,a\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3072,
        -160
      ],
      "id": "b964ab77-6685-4efd-94d0-5270a16f3ab4",
      "name": "store_url_email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "709d8dd4-ac4c-43ea-9bd3-2e19614321bc",
              "leftValue": "={{ $('intialisation').item.json.ids }}",
              "rightValue": "={{ $json.uid }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "fef89b89-c872-4900-8b95-4388c40d50bb",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "ef57e276-97ca-4b4b-ab47-1c7325423862",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2704,
        -224
      ],
      "id": "f0b2cb62-13c9-4e80-b92a-95723ad77f05",
      "name": "job in sheet??"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3b073b39-9c4a-4584-a9c1-b9007caf229f",
              "leftValue": "={{ $('store_url_email').isExecuted }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3072,
        -304
      ],
      "id": "3e67dedb-5c33-4c82-a7d7-86a3ce2137cf",
      "name": "sheet updated???",
      "executeOnce": false
    }
  ],
  "pinData": {},
  "connections": {
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "sheet updated???",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "job in sheet??",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        []
      ]
    },
    "proposal generator": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read-job_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "0 Spend check": {
      "main": [
        [
          {
            "node": "Merge the outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read-job_id": {
      "main": [
        [
          {
            "node": "intialisation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge the outputs": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "0 Spend check",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge the outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intialisation": {
      "main": [
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "store_url_email": {
      "main": [
        [
          {
            "node": "proposal generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "job in sheet??": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "store_url_email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sheet updated???": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "63536310-5667-4209-8d92-b54baa1d0be3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78d2b076f0e389d9df1632cb9d7ea18b0c6366add54d0a93af579b1511a63e95"
  },
  "id": "Etq8vnpsIPu8VPhX",
  "tags": []
}